<p id="notice"><%= notice %></p>
<h1><%= @user.name%>'s lists</h1>

<div>
    <%= link_to("Create a new list", new_user_list_path(@user)) %>
</div>

<div>
    <ol>
        <% @user_lists.each do |list| %>
            <li><%= link_to("#{list.name}", user_list_path(@user, list)) %></li>
        <% end %>
    </ol>
</div>
